/*
    General Styles
*/


.login {
  height: 280px;
  position: relative;
  margin: auto;
  width: 400px;
  border: 3px solid green;
  padding: 10px;
}

.membership-form{

}

.membership-benefits{

}

.jumbotron{
    margin: auto;
    background-image: url("https://www.yankodesign.com/images/design_news/2015/10/draft-selfie-mirror/selfie_mirror_11.jpg");
   background-size: cover;
   color: white;
}
.body{
     background-image: url("https://www.publicdomainpictures.net/download-picture.php?id=125154&check=35e8072ca851b3fdb5a288d88f43490b");
}
